@import "../utilidades/variables";
@import "../utilidades/mixin";

.main-galeria{
    height: 100%;
}

.main-galeria{
    .imagenes-galeria{
        div{
            @include grid(grid,repeat(2,1fr));
        }
        img{
            filter: drop-shadow(10px 10px 15px aqua);
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            padding: 2.2rem;
            object-fit: cover;
        }
    }
}