@import "../utilidades/variables";
@import "../utilidades/mixin";

.titulos{
    font-size: 28px;
    font-weight: bold;
    color:$yellowColor;
    text-align: $text-align;
}
/*organizacion de hipervinculos*/
a{
    text-decoration: none;
    color: $yellowColor;
}


/* Organizar menu de manera horizontal */
nav{
  div{
    .navegacion{
        @include flex(flex, $justify:space-between, $align:center);
        gap: 3em;
        font-size: 1em;
        list-style: none;
        background-color: #212121;
        text-align: $text-align;
        @include border(2px, solid,transparent);
        img{
            border-radius: 100%;
            @include border(2px, solid, white);
            object-fit: cover;
            height: 5rem;
        }
    }
    }
}

/* separacion a traves de grids */
.grid-elementos-visuales{
    section{
        @include grid(grid,repeat(2,1fr));
        gap: 10px;
        padding: 10px;
        height: auto;
    }
}
/* Estilos de imagen y video */
.grid-item-index{
    img, video{
        width: 100%;
        object-fit: cover;
        aspect-ratio: $aspectRatio;
        @include border(3px, solid ,#62159E);
    }
    @include flex(flex, column);
    gap:2rem;
    padding: 1rem;
}
/* Formato de los parrafos */
.parrafos{
    @include parrafos(center,whitesmoke,#33006F,1rem);
}

.pie-de-pagina{
    @include grid(grid,repeat(1,1fr), 2,);
    color: #B0BEC5;
    height: 15vh;
}

.redes-pie-pagina{
    @include flex(flex,column,$justify:center);
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        gap: 20px;
    }
}