// mixin para border
@mixin border($px, $style, $color){
    border:$px $style $color;
};

@mixin flex($display,$direction:null, $justify:null,$align:null){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
};

@mixin grid($grid,$columns,$rows:null){
    display:$grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin parrafos($text-align, $color, $background, $font-size){
    text-align: $text-align;
    color: $color;
    background: $background;
    font-size: $font-size;
}
